body{
    background-color: beige;
  
}
.container {
    text-align: center; background:  rgb(250, 250, 225);
    max-width: 1000px;
    margin: auto;
    height: 1350px;
    border-style:solid;
}

table{
  margin: 0 auto;
  width: 900px;
  height: 360px;
  border-collapse: collapse;
}
img{
    border-radius: 30%;
}
#serial{
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}
#underline{
    text-decoration: underline ;
}
.info{
    text-align: left;
    margin: 0 auto; 
    block-size: 200px;
  width: 900px;
}
.footer{
    margin-right: 0px;

}
#Rborder{
    border-right: none;

}
#size{
    width:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 10px ;
    text-align: center;
    line-break: initial;
}

.note{
    position: absolute;
    margin-left: 23.8%;
}

.coe p{
    position: relative;
    margin-top: 80px;
    margin-right: 70%;
}

#ads{
    position: absolute;
    margin-top: 50px;
    margin-left: 50%;
}