body{
    background: url('bg-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

#main-card{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

#first_name:hover{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    transition: .3s;
}

#last_name:hover{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    transition: .3s;
}

#contact_number:hover{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    transition: .3s;
}

#email:hover{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    transition: .3s;
}

#address:hover{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    transition: .3s;
}

#submit_button:hover{
    background-color: white;
    color: #0d6efd;
    font-weight: 700;
    filter: drop-shadow(0 0 7px #0d6efd);
}