body {
    background-color: beige;
}

.container {
    text-align: center;
    background: #ffffff;
    max-width: 1000px;
    margin: auto;
    height: 1050px;
    padding: 2px;
    border: 1px solid black;
}

table {
    margin: 0 auto;
    width: 900px;
    height: 360px;
    border-collapse: collapse;
}

.title h1 {
    margin-top: 10px;   
    text-align: center; 
}    

img {
    display: block;
    margin: 0 auto;
    border-radius: 30%;
}

#serial {
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}

#underline {
    text-decoration: underline;
}

.info {
    text-align: left;
    margin: 0 auto;
    block-size: 200px;
    width: 900px;
    font: bold;
    font-size: 18px;
}

.footer {
    margin-right: 00px;
}

#Rborder {
    border-right: none;

}

#size {
    width: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 10px;
    text-align: center;
    line-break: initial;
}

img {
    width: 120px;
}

.footer {
    padding-top: 10px;

}

.footer button {
    padding: 15px;

}
